[submodule "externals/dtl"]
	path = externals/dtl
	url = https://github.com/cubicdaiya/dtl.git
[submodule "externals/tinyxml2"]
	path = externals/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "externals/fast_float"]
	path = externals/fast_float
	url = https://github.com/fastfloat/fast_float.git
[submodule "externals/date"]
	path = externals/date
	url = https://github.com/numere-org/date.git
[submodule "externals/QR-Code-generator"]
	path = externals/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "externals/stduuid"]
	path = externals/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "externals/qtl"]
	path = externals/qtl
	url = https://github.com/numere-org/qtl.git
[submodule "externals/base-n"]
	path = externals/base-n
	url = https://github.com/azawadzki/base-n.git
